Django==5.2.6
asgiref==3.9.1
sqlparse==0.5.3
typing_extensions==4.15.0
# Windowsissa vain:
tzdata==2025.2 ; platform_system == "Windows"
Markdown==3.9
Pillow==11.2.1
django-imagekit==5.0.0
djangorestframework==3.16.0
openai==1.108.0
scikit-learn==1.7.2
requests==2.32.5
gunicorn          # Tuotantotason web-palvelin Djangolle
psycopg2-binary   # Antaa Djangon yhdistää PostgreSQL-tietokantaan
dj-database-url   # Helpottaa tietokantayhteyden määrittelyä
django-environ    # Turvallinen tapa hallita salasanoja ja avaimia
whitenoise        # Tehokas tapa tarjoilla staattisia tiedostoja (CSS, JS, kuvat)